body,
html {
  height: 1098px;
  margin: 0;
}

.bg {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

path {
  fill-opacity: 0.5;
  stroke: #000;
  stroke-opacity: 0.6;
  stroke-width: 0.1px;
}

.erangel {
  background-image: url('https://storage.googleapis.com/pubg-hackathon-plots/heatmap/Erangel_heat.png');
}

.miramar {
  background-image: url('https://storage.googleapis.com/pubg-hackathon-plots/heatmap/Miramar_heat.png');
}

.sanhok {
  background-image: url('https://storage.googleapis.com/pubg-hackathon-plots/heatmap/Sanhok_heat.png');
}

.vikendi {
  background-image: url('https://storage.googleapis.com/pubg-hackathon-plots/heatmap/Vikendi_heat.png');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    background-color: #001f3f;
  }
  100% {
    background-color: #ff4136;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.02;
  }
  100% {
    opacity: 0.2;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.02;
  }
  100% {
    opacity: 0.2;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.02;
  }
  100% {
    opacity: 0.2;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.02;
  }
  100% {
    opacity: 0.2;
  }
}
.contour {
  -webkit-animation: flickerAnimation 5s infinite;
  -moz-animation: flickerAnimation 5s infinite;
  -o-animation: flickerAnimation 5s infinite;
  animation: flickerAnimation 5s infinite;
}

.nav-container {
  min-height: 120px;
  opacity: 0;
  float: left;
  position: fixed;
}

.nav-container:hover {
  opacity: 0.8;
}

#slide {
  transition: 0.5s;
}

.nav-container:hover #slide {
  transition: 0.5s;
  left: 0;
}

.App {
  text-align: center;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto); */
}

.d3-container {
  margin: auto;
  grid-column: 1 / 2;
  width: 1098px;
  grid-row: 1 / 6;
}

.toggle-container {
  grid-column: 2 / 2;
  grid-row: 1;
  text-align: left;
}

#contour-btn {
  background-color: #f2a900;
  border-color: black;
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  width: 80%;
  margin: auto;
}

#contour-btn:hover,
#contour-btn:active {
  background-color: #f2a900;
  color: white;
}

#contour-btn:focus {
  box-shadow: none;
}
