body, html {
  height: 1098px;
  margin: 0;
}

.bg {
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;  
}

path {
  fill-opacity: .5;
  stroke: #000;
  stroke-opacity: .6;
  stroke-width: .1px;  
}

.erangel {
  background-image: url("https://storage.googleapis.com/pubg-hackathon-plots/heatmap/Erangel_heat.png")
}

.miramar {
  background-image: url("https://storage.googleapis.com/pubg-hackathon-plots/heatmap/Miramar_heat.png")
}

.sanhok {
  background-image: url("https://storage.googleapis.com/pubg-hackathon-plots/heatmap/Sanhok_heat.png")
}

.vikendi {
  background-image: url("https://storage.googleapis.com/pubg-hackathon-plots/heatmap/Vikendi_heat.png")
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}

@keyframes flickerAnimation {
  0%   { opacity:.2; }
  50%  { opacity:0.02; }
  100% { opacity:.2; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:.2; }
  50%  { opacity:0.02; }
  100% { opacity:.2; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:.2; }
  50%  { opacity:0.02; }
  100% { opacity:.2; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:.2; }
  50%  { opacity:0.02; }
  100% { opacity:.2; }
}
.contour {
   -webkit-animation: flickerAnimation 5s infinite;
   -moz-animation: flickerAnimation 5s infinite;
   -o-animation: flickerAnimation 5s infinite;
    animation: flickerAnimation 5s infinite;
}